// media query vendors
@import "../bootstrap/variables.scss";
@import "../bootstrap/breakpoints.scss";
@import "../bootstrap/functions.scss";

// standard
#component-wrapper {
  display: flex;
  width: 100%;
  padding-top: 1rem;
  & > div {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
    padding: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 3rem;
    min-width: 30.33333333333%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    border-top: 1px solid #ddd;
  }
}
.material-icons {
  color: $point-color;
  position: absolute;
  right: 1rem;
  top: 1.65rem;
}
.serif {
  display: none;
}
p {
  position: relative;
  top: -1.3rem;
  font-size: 0.9rem;
  color: #aaa;
}

// media query
@include media-breakpoint-down (sm) {
  // mobile
  #component-wrapper {
    display: block;
    & > div {
      min-width: 100%;
    }
  }
}
@include media-breakpoint-between (sm, lg) {
  // ipad
  #component-wrapper > div {
    min-width: 48.5%;
  }
}
@include media-breakpoint-between (lg, xl) {
  // macbook
  #component-wrapper > div {
    min-width: 30.33333333333%;
  }
}