input[type=range] {
  // 기본 슬라이드 스타일 없애기
  -webkit-appearance: none;
  background: transparent;
  width: 4rem;
  // 손잡이의 스타일을 지정합니다.
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: $point-color;
    border-radius: 2rem;
    cursor: pointer;
    height: .8rem;
    width: .8rem;
    position: relative;
    top: -.3rem;
  }
  // 트랙의 스타일을 지정합니다.
  &::-webkit-slider-runnable-track {
    background-color: $base-color;
    border-radius: 2px;
    height: 3px;
  }
  &:focus {
    outline: none;
  }
  // IE에서
  &::-ms-track {
    width: 100px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
}
input[type=range] + label {
  width: 2rem;
}