select {
  // select-box의 모양만 변형 가능합니다.
  // 네이티브 외형 감추기
  appearance: none;
  // 스타일 추가 하기
  // >>>>>>>>>>>>>>>> ?? 구글 아이콘을 이용해 바꿀 수 는 없을까?
  background: url('') no-repeat 95% 50%;
  background-color: transparent;
  border: none;
  color: $point-color;
  font-size: 0.9rem;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  padding-left: 0 !important;
  width: 6rem;
}