#aside-wrapper  {
  padding-top: 52px;
  border-left: 1px solid #ddd;
  font-size: 1.1rem;
  h4 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: #555;
  }
}
#numbeOfStyles {
  margin-top: 200px;
}